<p id="notice"><%= notice %></p>
<h1><%= @amoeba.name %></h1>
<h2>Talent: <%= @amoeba.talent.name %></h2>
<h3>Generating Number: <%= @amoeba.generating_number %></h3>
<h3>Act: <%= @amoeba.act_id %></h3>

<%= form_tag "/amoebas/#{@amoeba.id}/split" do -%>
<%= submit_tag "Split" %>
<%end%>

<%= link_to 'Edit', edit_amoeba_path(@amoeba) %> |
<%= link_to 'Back', amoebas_path %>

